{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Model Results</h2>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <a href="/" class="btn btn-primary">Go Back</a>
        <p>Accuracy: {{ accuracy }}%</p>
    </div>
    <p>Fraud Percentage: {{ fraud_percentage }}%</p>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <a href="{% url 'download_csv' %}" class="btn btn-secondary">Download CSV</a>
    </div>
    <div class="table-responsive mt-3">
        {{ data|safe }}
    </div>
</div>
{% endblock %}
